@font-face {
  font-family: InstrumentSans;
  src: url("~assets/VoxelStoreAssets/Instrument_Sans/static/InstrumentSans-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'InstrumentSans Medium';
  src: url("~assets/VoxelStoreAssets/Instrument_Sans/static/InstrumentSans-Medium.ttf") format('truetype');
}
@font-face {
  font-family: 'Instrument';
  src: url("~assets/VoxelStoreAssets/Instrument_Sans/InstrumentSans-VariableFont_wdth,wght.ttf") format('truetype');
}
@font-face {
  font-family: 'InstrumentSemiBold';
  src: url("~assets/VoxelStoreAssets/Instrument_Sans/static/InstrumentSans-SemiBold.ttf") format('truetype');
}

html {
  font-family: 'Instrument', sans-serif;
}
.d-block{display: block;}
.d-flex{display: flex;}
.flex-column{flex-direction: column;}
.align-center{align-items: center;}
.justify-center{justify-content: center;}
.justify-space-between{justify-content: space-between}
.font-semi-bold{
  font-family: 'InstrumentSemiBold', sans-serif;}
.flex-wrap{flex-wrap: wrap;}

.appContainer{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-family: 'Instrument', serif;
  line-height: 22px;
  font-size: 18px;
  font-weight: 600;
  span {
    font-weight: 400;
    opacity: 50%;
  }
}

@media(max-width: 767px){
  .smallHide{display: none !important}
}
@media(min-width: 768px){
  .medium-up-hide{display: none !important}
}
